version: 2
jobs:
  build: # runs not using Workflows must have a `build` job as entry point
    docker: # run the steps with Docker
      - image: ruby:2.6.3 # ...with this image as the primary container; this is where all `steps` will run
        environment: # environment variables for primary container
          RAILS_ENV: test
          TEST_DATABASE_NAME: test_db
          TEST_DATABASE_USERNAME: sample
          TEST_DATABASE_PASSWORD: password
          TEST_DATABASE_HOST: ci_db_container
          TEST_DATABASE_PORT: 3306
      - image: mysql:5.6 # database image
        environment: # environment variables for database
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: test_db
          MYSQL_HOST: 17.*.*.*
          MYSQL_USER: sample
          MYSQL_PASSWORD: password
    steps: # a collection of executable commands
      - checkout # special step to check out source code to working directory

      # Which version of bundler?
      - run:
          name: Which bundler?
          command: bundle -v

      - run: # Install Ruby dependencies
          name: Bundle Install
          command: bundle check --path vendor/bundle || bundle install --deployment
